body{
    text-align: center;
}

input{
    margin-top: 10px;
}
    
header{
    padding:20px;
    background-color: lightgray;
    margin-bottom:20px;
}


a{
    text-decoration: none;
    color:red;
    background-color: antiquewhite;
    padding:10px;
    margin-bottom: 20px;
}

footer{
    margin-top: 20px;
    background-color: lightgray;
}